* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.download-div {
    margin-bottom: 10px;
    align-self: flex-start;
}

.menu-footer {
    position: relative;
    bottom: -100px;
}
.user-img {
    width: 20px;
    height: 20px;
}

.container-flex-user {
    display: flex;
    margin-top: 10px;
}

.user-name {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightgrey;
    text-align: center;
}

.download {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

.container-big {
    width: calc(100% - 250px);
    height: calc(100% - 180px);
}

main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 80px);
}

.inline {
    display: inline;
    padding: 10px;
}

.main-nav {
    color: rgb(109, 109, 109);
    display: flex;
    justify-content: center;
}

.section-title {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

footer {
    width: 100%;
    height: 80px;
    z-index: 10; 
    background-color: rgb(40, 40, 40);  
    bottom: 0px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: white;
    overflow: visible;
}

.icon {
    width: 20px;
    height: 20px;
}

.menu-container {
    width: 250px;
    height: calc(100vh - 80px);
    background-color: black;
    padding: 20px;
    color: rgb(109, 109, 109);
    display: flex;
    flex-direction: column;
}

.playlist-span {
    margin-left: 10px;
    vertical-align: middle;
    
}

.upgrade-container {
    height: 100px;
    width: 100%;
    background-color: rgb(8, 11, 18);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.upgrade-button {
    width:200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    color: white;
    border: 2px solid white;
    background-color: black;
    font-size: small;
    
}

.container-small {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: rgb(20, 25, 34);
    padding: 20px;
    overflow-y: auto;
}

.logo {
    width: 150px;
    height: 70px;

}

.album-title, .album-subtitle {
    text-align: center;
}

.create-playlist-button {
    width:50px;
    height: 50px;
    background-color: lightgrey;
    border: none;
    font-size: 40px;
    vertical-align: middle;
}

.create-playlist-div {
    height: fit-content;
}

.playlist-list {
    margin-top: 20px;
}

.album-cover {
    width: 100%;
    height: 180px;
    display: block;
}

.album-title {
    color: white;
}

.album-subtitle {
    color: rgb(109, 109, 109);
    font-size: smaller;
}

section {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.album {
    margin-right: 20px;
    width: calc(100%/6 - 20px);
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.user {
    position: absolute;
    bottom: 0;
}

.footer-left, .footer-right {
    height: 80px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.footer-center {
    height: 80px;
    width: 30%;
    padding: 10px;

}

.album i {
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin-left: 0px;
   font-size: 30px;
   
}

.fa-solid, .fa-circle-play {
    font-size: 15px;
}

.upgrade-button:hover {
    width:230px;
    height: 45px;
  }

.album-cover {
    position: relative;
}
.album-image {
    position: relative;
}

.album-image::after {
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    font-size: 60px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
    width: 100%;
}

.album:hover .album-image::after {
    opacity: 1;
}

.footer-left > i:hover {
    color: white;
  }

.line:hover .circle-small{
    display: block;
  }

.hover-white:hover {
    color: white;
  }

.img-container {
      position: relative;
  }

.album-cover-small {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

i {
    margin-left: 20px;
}

.music-player {
    font-size: large;
    text-align: center;
}

.line {
    height: 5px;
    width: 300px;
    background-color: black;
    border-radius: 20px;
}

.line-inside {
    height: 5px;
    width: 100px;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.line-2 {
    height: 5px;
    width: 100px;
    background-color: black;
    border-radius: 20px;
    margin-left: 10px;
}

.line-inside-2 {
    height: 5px;
    width: 30px;
    background-color: white;
    border-radius: 20px;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

span {
    margin-left: 10px;
    margin-right: 10px;
}

.logo-small {
    width: 20px;
    height: 20px;
    display: none;
    
}

.circle-small {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 20px;
    right: 0px;
    bottom: -5px;
    position: absolute;
    display: none;
}
    
.footer-left > i {
    color:rgb(109, 109, 109);
}

/* media query */ 

@media screen and (max-width: 600px) {

    .logo {
        display: none;
    }

    .logo-small {
        display: block;
        
    }

    .responsive {
        display: none;
    }

    .menu-container {
        width: 60px;
    }

    .container-big {
        width: calc(100% - 60px);
    }

}

@media screen and (max-width: 1500px) {

    .album {
        width: calc(100% / 5 - 20px);
    }

}

@media screen and (max-width: 1100px) {

    .album {
        width: calc(100% / 4 - 20px);
    }

}

@media screen and (max-width: 700px) {

    .album {
        width: calc(100% / 3 - 20px);
    }

}

@media screen and (max-width: 600px) {

    .album {
        width: calc(100% / 2 - 20px);
    }

}

@media screen and (max-width: 400px) {

    .album {
        width: calc(100% / 1 - 20px);
    }

}


